.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(var(--primary-rgb));
  gap: 2rem;
  padding: 2rem;
}

.wrapper h2 {
  text-align: center;
}

.barcode {
  max-width: 100%;
}

.cardActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.deleteCardActions button {
  background: transparent;
  border-radius: .4rem;
  padding: .5rem;
  color: inherit;
  border: 1px solid rgb(var(--primary-rgb));
  font-size: 1.2rem;
}

.deleteCardActions button.buttonDanger {
  color: rgb(var(--danger-rgb));
  border-color: rgb(var(--danger-rgb));
}